

    .thumbnail{
      width: 100%;
      border-radius: 0px;
      transition: border-radius 0.15s;
      
      
    }
    .thumbnail:hover{
      border-radius: 15px;
    }
   

  .video-title{
    margin-top: 0;
    font-size: 12px;
    font-weight: 500;
    line-height:20px;
    margin-bottom:10px ;
  }
    
   .video-info-grid{
    display: grid;
    grid-template-columns:50px 1fr ;
   }

    .profile-picture{
      width: 36px;
      border-radius: 50px;
    }
    .thumbnail-row{
      margin-bottom: 8px;
      position: relative;
      border-radius: 15px;
      transition: border-radius 0.15s;
      
      
    }

    .video-auther,
    .viedo-stats {
      font-size: 12px;
      color: #606060;
     }
     .video-auther{
      margin-bottom:4px ;
     }
    .video-grid{
      
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap:16px ;
      row-gap: 40px;
      
    }
      @media (max-width: 750px) {
      .video-grid{
        grid-template-columns: 1fr 1fr;
      }
    }
      @media(min-width:751px) and (max-width:999px){
        .video-grid{
          grid-template-columns: 1fr 1fr 1fr;
        }
  }
      
      @media(min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
      .video-time{
      
      font-size: 12px;
      font-weight: 500;
      padding: 4px ;
      border-radius: 2px;
      background-color: black;
      color: white;
      position: absolute;
      bottom: 8px;
      right: 5px;
    }
    